[Unit]
Description=SatNOGS Dummy rigctld service
After=network.target

[Service]
Type=simple
User=satnogs
Group=satnogs
# Hardcoded to Model 1 (Dummy) listening on port 4532
# No -r flag needed because there is no physical radio to connect to!
ExecStart=/usr/bin/rigctld -m 1 -t 4532
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
